
@import "css/src/reset.less";

html, body {
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #666;
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1024px;
  height: 768px;
  background-color: #000;
  cursor: none;
}